  <script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
  <script>
    <%= render :partial => "items/item_angular_app.js", locals: {todo_items: todo_items, habit_items: habit_items, user: current_user} %>
  </script>
  <div ng-app="Items">
    <div ng-controller="TodoItemController as vm">
      <div class="large-6 columns">
        <div class="panel">
          <h5>Add New Todo</h5>
          <form class="input-group" style="text-align:left">
            <label>Title:</label>
            <input ng-model="vm.new_todo_item.title" type="text">
            <label>Description</label>
            <textarea ng-model="vm.new_todo_item.description" type="text"></textarea>
          </form>
          <a href="#" ng-click="vm.addTodo()" class="button">Add</a>
        </div>
        <div class="panel" style="text-align:left">
          <div ng-if="vm.is_loading" style="font-size:18px"><i class="fa fa-refresh fa-spin"></i><hr></div>
          <span ng-repeat="todo in vm.todo_items | orderBy:'-created_at'">
            <p>
              <input type="checkbox" ng-model="todo.completed" ng-change="vm.updateTodo(todo)" style="margin:0px">&nbsp;
              {{todo.title}}&nbsp;
              <a href="#" ng-click="vm.showScheduleView(todo)">schedule</a>|
              <a href="#" ng-click="vm.deleteTodo(todo)">delete</a>
            </p>
            <div ng-if="todo.schedule_view_open">
              Start Date/Time<input type="datetime-local" ng-model="todo.schedule_start" ng-change="vm.updateScheduleEnd(todo)">
              End Date/Time<input type="datetime-local" ng-model="todo.schedule_end">
              <button ng-click="vm.scheduleTodo(todo)" type="button" class="button small">Schedule</button>
              &nbsp;&nbsp;<a href="#" ng-click="vm.hideScheduleView(todo)">cancel</a>
            </div>
            <hr>
          </span>
        </div>
      </div>
    </div>
    <div ng-controller="HabitItemController as vm">
      <div class="large-6 columns">
        <div class="panel" style="text-align:left">
          <div ng-if="vm.is_loading" style="font-size:18px"><i class="fa fa-refresh fa-spin"></i><hr></div>
          <span ng-repeat="habit in vm.habit_items | orderBy:'-created_at'">
            <span ng-if="!habit.inEditMode">
              <p ng-bind="habit.title"></p>
              <p ng-bind="'Daily Amount: ' + habit.daily_amount + ' ' + habit.unit_name"></p>
              <p ng-bind="'Amount Remaining: ' + habit.amount_remaining + ' ' + habit.unit_name"></p>
              <span ng-if="!habit.inLogMode">
                <a href="#" ng-click="vm.enterLogMode(habit)">Log Accomplishment</a>&nbsp;| 
                <a href="#" ng-click="vm.enterEditMode(habit)">edit</a>&nbsp;|
                <a href="#" ng-click="vm.deleteHabit(habit)">delete</a>
              </span>
              <span ng-if="habit.inLogMode">
                <input type="number" style="width:75px; display:inline;" ng-model="habit.amountToLog">&nbsp;{{habit.unit_name}}
                <br>
                <div ng-if="vm.is_loading" style="font-size:18px"><i class="fa fa-refresh fa-spin"></i><hr></div>
                <button ng-if="!vm.is_loading" ng-click="vm.logAmount(habit)" type="button" class="button">Log</button>
                <a href="#" ng-click="vm.cancelLogMode(habit)">cancel</a>
              </span>
            </span>

            <span ng-if="habit.inEditMode">
              <h5>Edit Habit</h5>
              <form class="input-group" style="text-align:left">
                <label>Title:</label>
                <input ng-model="habit.title" type="text">
                <label>Unit:</label>
                <input ng-model="habit.unit_name" type="text">
                <label>Daily Amount:</label>
                <input type="number" ng-model="habit.daily_amount">
                <label>Amount Remaining:</label>
                <input type="number" ng-model="habit.amount_remaining">
                <label>Description</label>
                <textarea ng-model="habit.description" type="text"></textarea>
              </form>
              <a href="#" ng-click="vm.updateHabit(habit)" class="button">Update</a>
            </span>
            <hr>
          </span>
        </div>
        <div class="panel">
          <h5>Add New Habit</h5>
          <form class="input-group" style="text-align:left">
            <label>Title:</label>
            <input ng-model="vm.new_habit_item.title" type="text">
            <label>Unit:</label>
            <input ng-model="vm.new_habit_item.unit_name" type="text">
            <label>Daily Amount:</label>
            <input type="number" ng-model="vm.new_habit_item.daily_amount">
            <label>Description</label>
            <textarea ng-model="vm.new_habit_item.description" type="text"></textarea>
          </form>
          <a href="#" ng-click="vm.addHabit()" class="button">Add</a>
        </div>
      </div>
    </div>
  </div>