  <script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
  <script>
    <%= render :partial => "items/item_controller.js", locals: {todo_items: todo_items, habit_items: habit_items} %>
  </script>
  <div ng-app="Items">
    <div ng-controller="ItemController as vm">
      <div class="large-6 columns">
        <div class="panel" style="text-align:left">
          <div ng-if="vm.is_loading" style="font-size:18px"><i class="fa fa-refresh fa-spin"></i><hr></div>
          <span ng-repeat="todo in vm.todo_items | orderBy:'-created_at'">
            <p>
              <input type="checkbox" ng-model="todo.completed" ng-change="vm.updateTodo(todo)" style="margin:0px">&nbsp;
              {{todo.title}}&nbsp;
              <a href="#" ng-click="vm.scheduleTodo(todo)">schedule</a>|
              <a href="#" ng-click="vm.deleteTodo(todo)">delete</a>
            </p>
            <hr>
          </span>
        </div>
        <div class="panel">
          <h5>Add New Todo</h5>
          <form class="input-group" style="text-align:left">
            <label>Title:</label>
            <input ng-model="vm.new_todo_item.title" type="text">
            <label>Description</label>
            <textarea ng-model="vm.new_todo_item.description" type="text"></textarea>
          </form>
          <a href="#" ng-click="vm.addTodo()" class="button">Add</a>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel">
          Habits
        </div>
      </div>
    </div>
  </div>