/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 #LoggedInIndicator{
   font-size: 12px;
   text-align:left;
   margin: 20px 0px 0px 20px;
   width:100%;
   top:0px;
 }

 .no_vertical_margin{
   margin-top:0px;
   margin-bottom:0px;
 }
 .indented{
   margin-left: 25px;
 }

 .inline{
   display:inline-block;
 }

 .panel{
   border-radius:10px;
 }

 .saved_panel{
   background-color: #DDFFDD;
 }

 .link-panel:hover {
   background-color: #AAAAAA;
 }

 .button{
   border-radius:5px !important;
 }

 .centered{
   text-align: center;
 }

 .main_content *{
   font-size:30px;
 }
